---
title: React.js Starter Kit
component: ContentPage
---
div
  div
    h3 Runtime Components
    dl
      dt <a href="https://facebook.github.io/react/">React</a>
      dd A JavaScript library for building user interfaces, developed by Facebook
      dt <a href="http://facebook.github.io/flux/">Flux</a>
      dd Application architecture for building user interfaces
  div
    h3 Development Tools
    dl
      dt <a href="http://webpack.github.io/">Webpack</a>
      dd Compiles front-end source code into modules / bundles
      dt <a href="http://www.browsersync.io/">BrowserSync</a>
      dd A lightweight HTTP server for development
  div
    h3 Fork me on GitHub
    p <a href="https://github.com/kriasoft/react-starter-kit">github.com/kriasoft/react-starter-kit</a>

.fullSliderImage
  .image
  .tagline-holder
    h3.tagline online based financial services with real people
    a.btn.btn-cto(href='#waiting') Signup
  .shader
.container
  .attention
    h4.cntr What would you like to do ?
#services.container.half-container
  #accordion.o-accordion
    .o-accordion__title Start a Business
    .o-accordion__content
      ul.o-services__body
        li.o-services__item Private Limited Company
        li.o-services__item Limited Liability Partnership
        li.o-services__item One Person Company
        li.o-services__item Partnership Firm
        li.o-services__item Proprietorship Firm
        li.o-services__item Public Limited Company
        li.o-services__item Producer Company
    .o-accordion__title Taxation
    .o-accordion__content
      ul.o-services__body
        li.o-services--head
          span.o-services__item Registration
        li.o-services__item Service Tax Registration
        li.o-services__item VAT Registration
        li.o-services__item Import Export Code
        li.o-services--head
          span.o-services__item Filngs
        li.o-services__item TDS Return
        li.o-services__item VAT Return
        li.o-services__item Service Tax Return
        li.o-services__item Income Tax Return
        li.o-services__item Luxury Tax Return
    .o-accordion__title Audit & Assurance
    .o-accordion__content
      ul.o-services__body
        li.o-services__item Private Limited Company
        li.o-services__item Limited Liability Partnership
        li.o-services__item One Person Company
        li.o-services__item Partnership Firm
        li.o-services__item Proprietorship Firm
        li.o-services__item Public Limited Company
        li.o-services__item Charitable Trust
        li.o-services__item Society/MSCS/Co-op Society
        li.o-services__item Educational Institution
        li.o-services__item Chit/Nidhi Company
        li.o-services__item Producer Company
