<hr>
<div id="about" class="container half-container">
	<h4 class="heading">About us</h4>
	<p>We provide all types of Financial, Business and Management consultancy services in India. Find a SOLUTION to all your BUSINESS worries!</p>
</div>