
    <!-- Footer -->

    <footer>
        <div class="container half-container">
            <p>(C) Copyright 2015 - The Finpal LLC</p>
        </div>
    </footer>
    <todo>
      <h1>Goes here</h1>
      <h3>{ opts.title }</h3>

      <ul>
        <li each={ items }>
          <label class={ completed: done }>
            <input type="checkbox" checked={ done } onclick={ parent.toggle }> { title }
          </label>
        </li>
      </ul>

      <form onsubmit={ add }>
        <input name="input" onkeyup={ edit }>
        <button disabled={ !text }>Add #{ items.length + 1 }</button>
      </form>

      <script>
        this.disabled = true

        this.items = opts.items

        edit(e) {
          this.text = e.target.value
        }

        add(e) {
          if (this.text) {
            this.items.push({ title: this.text })
            this.text = this.input.value = ''
          }
        }

        toggle(e) {
          var item = e.item
          item.done = !item.done
          return true
        }
      </script>

    </todo>


    <script src="/js/app.js"></script>    
    <script src="https://cdn.jsdelivr.net/riot/2.3/riot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/riotgear/2.1.3/rg.min.js"></script>

    <script>        
      riot.mount('todo');
      
      var accordion = new Accordion({
        elem: "accordion",                    // ID of the accordion container
        openTab: 2,                           // [optional] Accordion tab to start opened with. All tabs closed if not set.
        oneOpen: false,                       // [optional] Allow one accordion tab only to be 
      });

    </script>
  </body>
</html>
