<!-- Navigation -->
<div class="custom-menu-wrapper" id="menu">        
    <div class="contain">
        <div class="menu-left">
            <div class="o-menu">
                <ul class="o-menu__list">
                    <li class="o-menu__item">
                        <a href="#" class="o-menu__heading o-menu__link u-brand">
                            <img class="o-brand" src="/img/logo.svg" alt="" width="40px" /></a></li>
                    <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
                </ul>
            </div>
        </div>
        <div class="menu-right">
            <ul class="o-menu__list o-menu--horizontal custom-can-transform">
                <li class="o-menu__item"><a href="#about" class="o-menu__link">About</a></li>
                <li class="o-menu__item"><a href="#services" class="o-menu__link">Services</a></li>
                <li class="o-menu__item"><a href="http://blog.thefinpal.com" class="o-menu__link">Blog</a></li>
            </ul>
        </div>
    </div>
</div>