<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">    
    <li><a href="#services">services</a></li>
    <li><a href="#about">about</a></li>
  </ul>
</div>
<!-- /.navbar-collapse -->
