<div class="fullSliderImage">
	<div class="image"></div>
	<div class="tagline-holder">
		<h3 class="tagline">online based financial services with real people</h3>
		<a href="#waiting" class="btn btn-cto">Signup</a>
	</div>
	<div class="shader"></div>
</div>

<div class="container">
	<div class="attention">
		<h4 class="cntr">What would you like to do ?</h4>
	</div>
</div>

<div id="services" class="container half-container">
	<div class="o-accordion" id="accordion">
                
    <div class="o-accordion__title">Start a Business</div>
    <div class="o-accordion__content">
        <ul class="o-services__body">
          <li class="o-services__item">Private Limited Company</li>
          <li class="o-services__item">Limited Liability Partnership</li>
          <li class="o-services__item">One Person Company</li>
          <li class="o-services__item">Partnership Firm</li>
          <li class="o-services__item">Proprietorship Firm</li>
          <li class="o-services__item">Public Limited Company</li>
          <li class="o-services__item">Producer Company</li>
        </ul>
    </div>

    <div class="o-accordion__title">Taxation</div>
    <div class="o-accordion__content">
        <ul class="o-services__body">
          <li class="o-services--head">
            <span class="o-services__item">Registration</span>
          </li>
          <li class="o-services__item">Service Tax Registration</li>
          <li class="o-services__item">VAT Registration</li>
          <li class="o-services__item">Import Export Code</li>
          <li class="o-services--head">
            <span class="o-services__item">Filngs</span>
          </li>
          <li class="o-services__item">TDS Return</li>
          <li class="o-services__item">VAT Return</li>
          <li class="o-services__item">Service Tax Return</li>
          <li class="o-services__item">Income Tax Return</li>
          <li class="o-services__item">Luxury Tax Return</li>       
        </ul>
    </div>

    <div class="o-accordion__title">Audit & Assurance</div>
    <div class="o-accordion__content">
        <ul class="o-services__body">
          <li class="o-services__item">Private Limited Company</li>
          <li class="o-services__item">Limited Liability Partnership</li>
          <li class="o-services__item">One Person Company</li>
          <li class="o-services__item">Partnership Firm</li>
          <li class="o-services__item">Proprietorship Firm</li>
          <li class="o-services__item">Public Limited Company</li>
          <li class="o-services__item">Charitable Trust</li>
          <li class="o-services__item">Society/MSCS/Co-op Society</li>
          <li class="o-services__item">Educational Institution</li>
          <li class="o-services__item">Chit/Nidhi Company</li>
          <li class="o-services__item">Producer Company</li>
        </ul>
    </div>
	</div>
</div>